<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ONE-PAGE</title>

  <link rel="stylesheet" href="../style/css/style.min.css">
  <link rel="stylesheet" href="../style/css/one-page_style.css">

  <!--favicon-->
  <link rel="icon" type="text/css" href="../style/images/logo.png">
  <!--favicon-->

</head>
<body>

  <h1 class="sr-only">Kieu Manh Quan</h1>

  <header class="custom__header">
    <div class="container">
      <nav class="custom__navbar navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img src="../style/images/logo.png" alt="Piroll logo" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto text-uppercase">
            <li class="nav-item active">
              <a class="nav-link text-primary" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Work">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Work">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="custom__header-lead row align-items-center">
        <div class="col-12 col-lg-6 offset-lg-6">
          <h2 class="text-black">We Design and Develop</h2>
          <p class="py-3">We are a new design studio based in USA. We have over 
             20 years of combined experience, and know a thing or two 
             about designing websites and mobile apps.</p>
          <a class="btn btn-primary text-uppercase" href="#form" role="button">contact us</a>
        </div>
      </div>
    </div>
  </header>
 
  <section id="about_us" class="section__about_us">
    <div class="container text-center">
      <div class="about_us">
        <h2>About Us</h2>
        <p class="my-4">Divide have don't man wherein air fourth. Own itself make have night won't make. 
          A you under Seed appear which good give. Own give air without fowl moveth dry first 
          heaven fruit, dominion she'd won't very all.
        </p>
        <img src="../style/images/about/sign.png" alt="Signature">
      </div>
    </div>
  </section>

  <section id="skills" class="section__skills">
    <div class="container">
      <div class="row align-items-center skills__list-wrapper">
        <div class="col-12 col-lg-6">
          <h2>Professional Skills</h2>
          <ul class="skills__list list-unstyled pr-5">
            <li class="skills__item">
              <h3>UI/UX Design<span class="ml-4">75%</span></h3>
              <div class="progress" style="height: 3px;">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            <li class="skills__item">
              <h3>web development<span class="ml-4">90%</span></h3>
              <div class="progress" style="height: 3px;">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            <li class="skills__item">
              <h3>marketing<span class="ml-4">65%</span></h3>
              <div class="progress" style="height: 3px;">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="achievements" class="section__achievements bg-primary">
    <div class="container">
      <ul class="achievements__list row list-unstyled my-0">
        <li class="achievements__item achievements__item--project col-6 col-lg-3">
          <span class="d-block">548</span>
          <p>projects completed</p>
        </li>

        <li class="achievements__item achievements__item--hours col-6 col-lg-3">
          <i class="fa-thin fa-clock-nine"></i>
          <span class="d-block">1465</span>
          <p>WORKING HOURS</p>
        </li>

        <li class="achievements__item achievements__item--feedback col-6 col-lg-3">
          <span class="d-block">612</span>
          <p>POSITIVE FEEDBACKS</p>
        </li>

        <li class="achievements__item achievements__item--clients col-6 col-lg-3">
          <span class="d-block">735</span>
          <p>HAPPY CLIENTS</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="products" class="section__products">
    <div class="container-fluid">
      <ul class="row list-unstyled my-0">
        <li class="col-12 col-sm-6 col-lg-3 px-0">
          <img src="../style/images/home/honey.jpg" alt="jar" class="img-fluid ">
        </li>
        <li class="col-12 col-sm-6 col-lg-3 px-0">
          <img src="../style/images/home/glass.jpg" alt="bottle" class="img-fluid ">
        </li>
        <li class="col-12 col-sm-6 col-lg-3 px-0">
          <img src="../style/images/home/phone.jpg" alt="phone" class="img-fluid ">
        </li>
        <li class="col-12 col-sm-6 col-lg-3 px-0 d-none d-sm-block">
          <img src="../style/images/home/she.jpg" alt="soap" class="img-fluid ">
        </li>
        <li class="col-12 col-sm-6 col-lg-3 px-0 d-none d-lg-block">
          <img src="../style/images/home/bag.jpg" alt="bag" class="img-fluid">
        </li>
        <li class="col-12 col-sm-6 col-lg-3 px-0 d-none d-lg-block">
          <img src="../style/images/home/label_tag.jpg" alt="label" class="img-fluid">
        </li>
        <li class="col-12 col-sm-6 col-lg-3 px-0 d-none d-lg-block">
          <img src="../style/images/home/c.jpg" alt="mug" class="img-fluid">
        </li>
        <li class="col-12 col-sm-6 col-lg-3 px-0 d-none d-lg-block">
          <img src="../style/images/home/book.jpg" alt="card" class="img-fluid">
        </li>
      </ul>
      <div class="more">
        <div class="row mx-0">
          <div class="col-12">
            <a href="#" class="text-uppercase text-center my-0 py-4 d-block">Load more work</a>
          </div>
        </div>
      </div>
    </div>
  </section>  

  <section id="our_works" class="section__our_works">
    <div class="container">
      <div class="our_works-lead">
        <h2>Our Work Process</h2>
        <p class="my-4">Was years it seasons was there form he in in them together over that, 
          third sixth gathered female creeping bearing behold years.
        </p>
      </div>
      <div class="our_works-video-container">
        <img src="../style/images/home/video-bg.jpg" alt="background-video" class="img-fluid">
        <button class="play-btn"><span class="sr-only">Background Video</span></button>
      </div>
    </div>
  </section>

  <section id="our_services" class="section__our_services">
    <div class="our_servises-container">
      <div class="container">
        <ul class="row list-unstyled my-0">
          <li class="col-12 col-sm-6 col-md-3">
            <div class="servises-item servises-item--ui">
              <h5>ui / ux design</h5>
              <p>
                Be set fourth land god darkness 
                make it wherein own
              </p>
            </div>
          </li>
          <li class="col-12 col-sm-6 col-md-3">
            <div class="servises-item servises-item--web">
              <h5>web development</h5>
              <p>
                A she'd them bring void moving 
                third she'd kind fill
              </p>
            </div>
          </li>
          <li class="col-12 col-sm-6 col-md-3">
            <div class="servises-item servises-item--app">
              <h5>app / mobile</h5>
              <p>
                Dominion man second spirit he,
                earth they're creeping
              </p>
            </div>
          </li>
          <li class="col-12 col-sm-6 col-md-3">
            <div class="servises-item servises-item--game">
              <h5>game design</h5>
              <p>
                Morning his saying moveth it 
                multiply appear life be
              </p>
            </div>
          </li>
          <li class="col-12 col-sm-6 col-md-3">
            <div class="servises-item servises-item--seo">
              <h5>SEO / marketing</h5>
              <p>
                Give won't after land fill creeping 
                meat you, may
              </p>
            </div>
          </li>
          <li class="col-12 col-sm-6 col-md-3">
            <div class="servises-item servises-item--photo">
              <h5>photography</h5>
              <p>
                Creepeth one seas cattle grass 
                give moving saw give
              </p>
            </div>
          </li>
          <li class="col-12 col-sm-6 col-md-3">
            <div class="servises-item servises-item--design">
              <h5>graphic design</h5>
              <p>
                Open, great whales air rule for, 
                fourth life whales
              </p>
            </div>
          </li>
          <li class="col-12 col-sm-6 col-md-3">
            <div class="servises-item servises-item--illustrations">
              <h5>illustrations</h5>
              <p>
                Whales likeness hath, man kind 
                for them air two won't
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="reviews" class="section__rewiews">
    <div class="reviews">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item align-content-center active">
              <div class="review-item">
                <div class="review-item-wrap">
                  <blockquote>
                      “ Outstanding job and exceeded all expectations. It was a pleasure 
                      to work with them on a sizable first project and am looking 
                      forward to start the next one asap.”
                  </blockquote>
                  <span aria-label="author">Michael Hopkins</span>
                </div>
              </div>
            </div>
            <div class="carousel-item align-content-center">
              <div class="review-item">
                <div class="review-item-wrap">
                  <blockquote>
                      “ I enjoyed this story so much. I’m speechless. The way this story was told was so original. 
                      I highly recommend it to everyone. I’m sure you do not want to put it down, 
                      not even for a minute..”
                  </blockquote>
                  <span aria-label="author">Sarah Jones</span>
                </div>
              </div>
            </div>
            <div class="carousel-item align-content-center">
              <div class="review-item">
                <div class="review-item-wrap">
                  <blockquote>
                      “ This had me hooked from the first page. It was a great story from a brilliant writer; 
                      you should definitely check this one out.”
                  </blockquote>
                  <span aria-label="author">Adan Tomas</span>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
  </section>

  <section id="partners" class="section__partners">
    <div class="parnners">
      <div class="container">
        <ul class="row list-unstyled my-0">
          <li class="col-6 col-sm-5th text-center mb-4">
            <img src="../style/images/one-page/logo-client-011.PNG" alt="logo1" class="img-fluid">
          </li>
          <li class="col-6 col-sm-5th text-center mb-4">
            <img src="../style/images/one-page/logo-client-02.PNG" alt="logo2" class="img-fluid">
          </li>
          <li class="col-6 col-sm-5th text-center mb-4">
            <img src="../style/images/one-page/logo-client-03.PNG" alt="logo3" class="img-fluid">
          </li>
          <li class="col-6 col-sm-5th text-center mb-4">
            <img src="../style/images/one-page/logo-client-04.PNG" alt="logo4" class="img-fluid">
          </li>
          <li class="col-12 col-sm-5th text-center mb-4">
            <img src="../style/images/one-page/logo-client-011.PNG" alt="logo5" class="img-fluid">
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="form" class="section__form">
    <div class="section-form">
      <div class="container">
        <div class="form-wrapper">
          <div class="row justify-content-center">
            <div class="col-10 col-md-8 text-center">
              <h3 class="mb-4">Need a project?</h3>
              <p class="mb-4">
                  Let us know what you're looking for in an agency. We'll take a look and see 
                  if this could be the start of something beautiful.
              </p>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputName" placeholder="Your name">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Your email">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="inputTitle" placeholder="Your title">
                </div>
                <div class="form-group">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Your comment"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send message</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="footer-container">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h5>Piroll Design, Inc.</h5>
            <p>© 2017 Piroll. All rights reserved. <br>
                Designed by robirurk.</p>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <p class="mb-0">hello@pirolltheme.com</p>
            <p>+44 987 065 908 </p>
          </div>
          <div class="col-12 col-sm-4 col-lg-3">
            <div class="row">
              <div class="col-3 col-sm-6">
                <ul class="list-unstyled my-0">
                  <li><a href="#Projects">Projects</a></li>
                  <li><a href="#About">About</a></li>
                  <li><a href="#Services">Services</a></li>
                  <li><a href="#Carreer">Carreer</a></li>
                </ul>
              </div>
              <div class="col-3 col-sm-6">
                <ul class="list-unstyled my-0">
                  <li><a href="#News">News</a></li>
                  <li><a href="#Events">Events</a></li>
                  <li><a href="#Contact">Contact</a></li>
                  <li><a href="#Contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-2">
            <ul class="list-unstyled my-0">
              <li><a href="#Facebook">Facebook</a></li>
              <li><a href="#Instagram">Instagram</a></li>
              <li><a href="#Twitter">Twitter</a></li>
              <li><a href="#TikTok">TikTok</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="../style/js/jquery.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="../style/js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
  <script src="../style/js/bootstrap.min.js"></script>
</body>
</html>
